Repository paritytech/parity-common, pull requests merged in 2022-08, with the labels that each got.

#663 fix some warnings
  fixed-hash/benches/cmp.rs
  kvdb-rocksdb/examples/memtest.rs
  parity-util-mem/derive/lib.rs
  parity-util-mem/src/allocators.rs
  primitive-types/impls/serde/benches/impl_serde.rs
  uint/benches/bigint.rs
Labels: A2-insubstantial

#662 rocksdb: remove and simplify a bunch of stuff
  kvdb-memorydb/CHANGELOG.md
  kvdb-memorydb/src/lib.rs
  kvdb-rocksdb/CHANGELOG.md
  kvdb-rocksdb/Cargo.toml
  kvdb-rocksdb/src/iter.rs
  kvdb-rocksdb/src/lib.rs
  kvdb/CHANGELOG.md
  kvdb/src/lib.rs
Labels: A0-pleasereview, breaking-change

#661 Streamline kvdb API and upgrade rocksdb to 0.19
  kvdb-memorydb/src/lib.rs
  kvdb-rocksdb/Cargo.toml
  kvdb-rocksdb/benches/bench_read_perf.rs
  kvdb-rocksdb/src/iter.rs
  kvdb-rocksdb/src/lib.rs
  kvdb-shared-tests/src/lib.rs
  kvdb/CHANGELOG.md
  kvdb/src/lib.rs
  parity-util-mem/Cargo.toml
Labels: M5-dependencies, breaking-change

#668 Support deserializing from borrowed or owned bytes, too
  ethbloom/Cargo.toml
  ethereum-types/Cargo.toml
  primitive-types/Cargo.toml
  primitive-types/impls/serde/CHANGELOG.md
  primitive-types/impls/serde/Cargo.toml
  primitive-types/impls/serde/src/serialize.rs
Labels: A8-looksgood
